@{
    
}

<div class="">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Emprestimos</h1>
        <a class="btn btn-outline-success" asp-controller="CadastroDeConta" asp-action="Adicionar">Cadastrar novo Emprestimo</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data Do Emprestimo</th>
            </tr>
        </thead>
        <tbody>
                            
                
                    <tr>
                        <th scope="row">DADADADADA</th>
                        <th scope="row">DADADADA</th>
                        <td>DADADADADA</td>
                        <td>DADADADADA</td>
                        <td>
                            <a>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a type="button" class="btn btn-outline-info" asp-controller="CadastroDeConta" asp-action="Editar">Editar</a>
                                    <a type="button" class="btn btn-outline-danger" asp-controller="CadastroDeConta" asp-action="Remover">Apagar</a>
                                </div>
                           <a/>
                        </td>

                    </tr>
                
            
        </tbody>
    </table>
</div>